h1 {
    font-size: 4rem;
    font-weight: 600;
}

body {
    margin: 5%;
}

img {
    width: 100%;
}

h2 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

#flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    width: 30%;
}

#draw {
    width: 8rem;
    height: 2.5rem;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    margin: auto;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

#draw:after {
    content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#draw:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.number {
    font-size: 3rem;
}

.number img {
    height: 120px;
    width: auto;
}

.suit2, .suit1 {
    width: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player {
    border: solid 1px black;
    width: 15rem;
    height: 25.1rem;
    text-align: center;
}

#player {
    margin-right: 3rem;
}

#computer {
    margin-left: 3rem;
}

#playerNumber {
    float: top;
    font-size: 3rem;
}

#computerNumber {
    float: top;
    font-size: 3rem;
}

#player img {
    width: 25%;
    flex-wrap: wrap;
}

#computer img {
    width: 25%;
    flex-wrap: wrap;
}

@media only screen and (max-width: 850px) {
    .flex {
        flex-direction: column;
    }
    .flexColumn {
        margin: 1rem;
        width: 90%;
    }
}

input {
    margin: .5rem;
    font-size: 2rem;
    padding: .5px;
    width: 8rem;
}

#submit {
    padding: .5rem;
    margin: .5rem;
    width: 8rem;
}

.hidden {
    display: none;
}

.button:hover {
    color: #04AA6D;
    cursor: pointer;
}

span {
    margin-left: 1rem;
}

button {
    background-color: #04AA6D;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.3rem;
    color: #fff;
    border: none;
}

p {
    font-size: 1.2rem;
}

.winner {
    flex-grow: 1;
}

#mathOptions {
    width: 16%;
}

#directions {
    text-align: center;
}